$bkgColor: #dcdcdc

BODY
  background-color: $bkgColor
#masthead
  height: 200px
.top_nav h2
  height: 15px
  font-family: 'Trebuchet MS', Trebuchet
  color: blue
#navblock
  clear: both
  height: 20px
  color: blue
.field
  font: 100%/1.4 "facitweb-1", "facitweb-2", sans-serif
  font-weight: 800
